<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>So, what's going on in your life these days?</h1>
<form action="/analyze" method="post">
    {% csrf_token %}
    <textarea name="user_text" spellcheck="false" style="margin: 0px; width: 1107px; height: 143px;"></textarea>
    <br>
    <input name="removepunc" type="checkbox">Remove Punctuations<br>
    <input name="capitalize" type="checkbox">UPPERCASE<br>
    <input name="newlineremove" type="checkbox">New Line Remove<br>
    <input name="extraspaceremove" type="checkbox">Extra Space Remove<br>
    <input name="charcount" type="checkbox">Character Count<br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>